<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center alert alert-dark">
  <h4 class="display-4 darken-grey-text">Update Diary</h4>
</div>
<div *ngIf="diary">
  <form>

    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Title</span>
      </div>
      <textarea type="text" [(ngModel)]="diary.title" name="title" rows="4" class="form-control" aria-label="With textarea"></textarea>
    </div>
    <br/>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Description</span>
      </div>
      <textarea type="text" [(ngModel)]="diary.description" name="description" rows="4" class="form-control" aria-label="With textarea"></textarea>
    </div>
    <br/>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Content</span>
      </div>
      <textarea type="text" [(ngModel)]="diary.content" name="content" rows="4" class="form-control" aria-label="With textarea"></textarea>
    </div>
    <br/>
    <br/>
    <br/>
    <label >
      <button type="button" class="btn btn-success btn-lg" (click)="updateDiary()" >Update </button>
    </label>
  </form>
</div>
